<p-menubar [model]="items">

  <!-- Logo o espacio izquierdo -->
<ng-template pTemplate="start">

  <button
    pButton
    type="button"
    icon="pi pi-bars"
    label="ERP Aleek"
    class="p-button-text"
    (click)="toggleNavMenu($event)">
  </button>

  <p-menu
    #navMenu
    [model]="navItems"
    [popup]="true">
  </p-menu>

</ng-template>


  <!-- Zona derecha -->
  <ng-template pTemplate="end">

    <div style="display:flex; align-items:center; gap:12px;">

      <!-- BUSCADOR -->
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          type="text"
          pInputText
          placeholder="Buscar"
          style="width:180px"
        />
      </span>


      <!-- BOTÓN USUARIO -->
      <button
        pButton
        type="button"
        class="p-button-text"
        (click)="toggleUserMenu($event)"
        style="display:flex; align-items:center; gap:8px;"
      >

        <p-avatar
          icon="pi pi-user"
          shape="circle">
        </p-avatar>

        <span style="max-width:150px; overflow:hidden; text-overflow:ellipsis;">
  {{ currentUser?.email }}
</span>

        <i class="pi pi-angle-down"></i>

      </button>

      <!-- MENÚ DESPLEGABLE -->
      <p-menu
        #userMenu
        [model]="userMenuItems"
        [popup]="true">
      </p-menu>

    </div>

  </ng-template>

</p-menubar>