<div class="auth-container">

  <p-toast></p-toast>

  <p-card class="auth-card">

    <ng-template pTemplate="header">
      <div class="auth-header">
        <h2>Iniciar Sesión</h2>
      </div>
    </ng-template>

    <div class="auth-form">

      <div class="p-field">
        <label>Email</label>
        <br>

        <span class="p-input-icon-left">
          <i class="pi pi-envelope"></i>

          <input pInputText [(ngModel)]="email" type="email" placeholder="correo@ejemplo.com" style="width:100%"
            [disabled]="loading" />

        </span>
      </div>


      <div class="p-field">
        <label>Contraseña</label>
        <br>

        <p-password [(ngModel)]="password" [feedback]="false" toggleMask="true" placeholder="Contraseña"
          styleClass="w-full" [disabled]="loading"></p-password>

      </div>


      <p-button label="Iniciar Sesión" icon="pi pi-sign-in" (click)="login()" [loading]="loading"
        styleClass="w-full"></p-button>


      <p class="auth-link">
        ¿No tienes cuenta?
        <a routerLink="/register">Regístrate</a>
      </p>

    </div>

  </p-card>

</div>