<div class="auth-container">

  <p-toast></p-toast>

  <p-card class="auth-card" [style]="{ width: '480px' }">

    <ng-template pTemplate="header">
      <div class="auth-header">
        <h2>Crear Cuenta</h2>
      </div>
    </ng-template>

    <div class="auth-form">

      <!-- NOMBRES -->
      <div>
        <label>Nombres</label>
        <input pInputText [(ngModel)]="nombres" placeholder="Nombres" style="width:100%" />
      </div>

      <!-- APELLIDOS -->
      <div class="p-grid" style="display:flex; gap:10px">

        <div style="flex:1">
          <label>Apellido paterno</label>
          <input pInputText [(ngModel)]="apellidoPaterno" placeholder="Apellido paterno" style="width:100%" />
        </div>

        <div style="flex:1">
          <label>Apellido materno</label>
          <input pInputText [(ngModel)]="apellidoMaterno" placeholder="Apellido materno" style="width:100%" />
        </div>

      </div>

      <!-- EMAIL -->
      <div>
        <label>Email</label>

        <span class="p-input-icon-left">
          <i class="pi pi-envelope"></i>

          <input pInputText [(ngModel)]="email" type="email" placeholder="correo@ejemplo.com" style="width:100%" />

        </span>
      </div>

      <!-- PASSWORD -->
      <div>
        <label>Contraseña</label>
        <br>  

        <p-password [(ngModel)]="password" toggleMask="true" placeholder="Contraseña" styleClass="w-full"></p-password>

      </div>

      <div>
        <label>Confirmar contraseña</label>
        <br>

        <p-password [(ngModel)]="confirmPassword" toggleMask="true" [feedback]="false"
          placeholder="Confirmar contraseña" styleClass="w-full"></p-password>

      </div>

      <!-- TELEFONO -->
      <div>
        <label>Teléfono</label>

        <span class="p-input-icon-left">
          <i class="pi pi-phone"></i>

          <input pInputText [(ngModel)]="telefono" placeholder="4421234567" style="width:100%" />

        </span>
      </div>

      <!-- DIRECCION -->
      <div>
        <label>Dirección</label>

        <input pInputText [(ngModel)]="direccion" placeholder="Dirección" style="width:100%" />

      </div>

      <!-- EDAD -->
      <div>
        <label>Edad</label>

        <input pInputText [(ngModel)]="edad" type="number" placeholder="Edad" style="width:100%" />

      </div>

      <p-button label="Registrarse" icon="pi pi-user-plus" (click)="register()" [loading]="loading"
        styleClass="w-full"></p-button>

      <p class="auth-link">
        ¿Ya tienes cuenta?
        <a routerLink="/login">Inicia sesión</a>
      </p>

    </div>

  </p-card>

</div>