<div class="auth-container">

  <p-toast></p-toast>

  <p-card class="auth-card">

    <ng-template pTemplate="header">
      <div class="auth-header">
        <h2>Crear Cuenta</h2>
      </div>
    </ng-template>

    <div class="auth-form">

      <!-- NOMBRES -->
      <div class="full">
        <label>Nombre/s</label>
        <input
          pInputText
          [(ngModel)]="nombres"
          placeholder="Nombres"
        />
      </div>

      <!-- APELLIDO PATERNO -->
      <div>
        <label>Apellido paterno</label>
        <input
          pInputText
          [(ngModel)]="apellidoPaterno"
          placeholder="Apellido paterno"
        />
      </div>

      <!-- APELLIDO MATERNO -->
      <div>
        <label>Apellido materno</label>
        <input
          pInputText
          [(ngModel)]="apellidoMaterno"
          placeholder="Apellido materno"
        />
      </div>

      <!-- EMAIL -->
      <div class="full">
        <label>Email</label>

        <span class="p-input-icon-left">
          <i class="pi pi-envelope"></i>

          <input
            pInputText
            [(ngModel)]="email"
            type="email"
            placeholder="correo@ejemplo.com"
          />
        </span>
      </div>

      <!-- PASSWORD -->
      <div class="full">
        <label>Contraseña</label>

        <p-password
          [(ngModel)]="password"
          toggleMask="true"
          placeholder="Contraseña"
          styleClass="w-full"
        ></p-password>
      </div>

      <!-- CONFIRM PASSWORD -->
      <div class="full">
        <label>Confirmar contraseña</label>

        <p-password
          [(ngModel)]="confirmPassword"
          toggleMask="true"
          [feedback]="false"
          placeholder="Confirmar contraseña"
          styleClass="w-full"
        ></p-password>
      </div>

      <!-- TELEFONO -->
      <div>
        <label>Teléfono</label>

        <span class="p-input-icon-left">
          <i class="pi pi-phone"></i>

          <input
            pInputText
            [(ngModel)]="telefono"
            placeholder="4421234567"
          />
        </span>
      </div>

      <!-- EDAD -->
      <div>
        <label>Edad</label>

        <input
          pInputText
          [(ngModel)]="edad"
          type="number"
          placeholder="Edad"
        />
      </div>

      <!-- DIRECCION -->
      <div class="full">
        <label>Dirección</label>

        <input
          pInputText
          [(ngModel)]="direccion"
          placeholder="Dirección"
        />
      </div>

      <!-- BOTON -->
      <div class="full">
        <p-button
          label="Registrarse"
          icon="pi pi-user-plus"
          (click)="register()"
          [loading]="loading"
          styleClass="w-full"
        ></p-button>
      </div>

      <p class="auth-link full">
        ¿Ya tienes cuenta?
        <a routerLink="/login">Inicia sesión</a>
      </p>

    </div>

  </p-card>

</div>