.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: linear-gradient(135deg, #3d515f 0%, #e0e7ff 100%);
}

.auth-card {
  width: 100%;
  max-width: 650px;
}

.auth-header {
  text-align: center;
  padding: 20px;
}

.auth-header h2 {
  margin: 0;
  font-size: 24px;
  color: #4b5563;
}

.auth-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
}

.full {
  grid-column: span 2;
}

.auth-form label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: #475569;
}

/* Inputs */
.auth-form input {
  width: 100%;
}

/* Password PrimeNG */
.auth-form .p-password {
  width: 100%;
  display: block;
}

.auth-form .p-password-input {
  width: 100%;
}

/* Inputs con iconos */
.auth-form .p-input-icon-left {
  width: 100%;
  display: block;
}

.auth-form .p-input-icon-left input {
  width: 100%;
}

.auth-link {
  text-align: center;
  font-size: 14px;
  color: #6b7280;
}

.auth-link a {
  color: #4f46e5;
  font-weight: 500;
  text-decoration: none;
}