<div class="group-users">

    <h2>Usuarios del grupo</h2>

    <div class="add-user" *appHasPermission="'manage_users'">
        <p-dropdown [options]="users" optionLabel="username" [(ngModel)]="selectedUser" placeholder="Seleccionar usuario">
        </p-dropdown>

        <button pButton label="Agregar" icon="pi pi-plus" (click)="addUser()">
        </button>

    </div>

    <p-table [value]="groupUsers">

        <ng-template pTemplate="header">
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Acciones</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{ user?.nombre_completo || user?.username }}</td>
                <td>{{ user?.email }}</td>

                <td *appHasPermission="'manage_users'">
                    <button pButton icon="pi pi-trash" severity="danger" (click)="removeUser(user)">
                    </button>
                </td>

            </tr>
        </ng-template>

    </p-table>

</div>